.Navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(84, 59, 247, 0.835);
  padding: 10px;
}

.Navbar a {
  text-decoration: none;
  color: aliceblue;
}

.Navbar a:hover {
  color: rgba(240, 248, 255, 0.671);
  text-decoration: underline;
  cursor: pointer;
}
